# folders

node_modules
src
testApp
.husky
.github

# configs

.npmrc
.eslintrc.json
.gitignore
.swcrc
tsconfig.json
tsconfig.node.json
vite.config.ts
jest.config.js
jest.setup.ts
cypress.config.ts
**/*.config.js
postcss.config.js

# local application

index.tsx
app.tsx
index.html